:root {
    --transparency: 0.4;
    --transparency2: 0.65;
    --transparency3: 0.35;
    --transparency4: 0.85;
    --bg-color: #020202;
    --input-label-color: #ffffff;
    --border-color: #ffffff9e;
    --ref-font-size: 0.65rem;
    --logo-title-color: #606060;
    --logo-div-bg-color: linear-gradient(0deg in lch, rgba(255, 0, 0,var(--transparency2)), rgba(255, 165, 0, var(--transparency2)), rgba(248, 248, 26, var(--transparency2)), rgba(0, 128, 0, var(--transparency2)), rgba(173, 216, 230, var(--transparency2)), rgba(0, 0, 255, var(--transparency2)), rgba(128, 0, 128, var(--transparency2)));
    --input-bg-color: linear-gradient(45deg in lch, rgba(255, 0, 0, var(--transparency)), rgba(255, 165, var(--transparency)), rgba(248, 248, 26, var(--transparency)), rgba(0, 128, 0, var(--transparency)), rgba(173, 216, 230, var(--transparency)), rgba(0, 0, 255, var(--transparency)), rgba(128, 0, 128, var(--transparency)));
    --login-bg-color: linear-gradient(45deg in lch, rgba(255, 0, 0, var(--transparency)), rgba(255, 165, var(--transparency)), rgba(248, 248, 26, var(--transparency)), rgba(0, 128, 0, var(--transparency)));
    --form-bg-color: #202020;
    --form-contain-color: #0e0e0e;
    --slogan-font-size:calc(2.25vw + 1rem);
}

@font-face {
    font-family: desporm;
    src: url(assets/fonts/DESPORM.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--input-label-color);
    padding: 0 10%;
    height: 100vh;
}

.container {
    display: flex;
    align-self: center;
    /* height: 100vh; */
    justify-content: center;
}

.image-bg {
    position: relative;
    background-image: var(--logo-div-bg-color),
                      url(assets/photos/workout-equipment.jpg);
    background-repeat: no-repeat;
    background-blend-mode:darken;
    background-size: 1000px;
    flex: 1 1 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    animation-name: moving-rainbow-logo;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-direction:alternate-reverse;
    text-shadow: #ffffff 0px 0px 50px;
}

.logo {
    height: 8rem;
    width: 5.5rem;
    transform: rotateY(180deg) scale(0.75);
    color: var(--logo-div-bg-color);
}

.sign-up-sec {
    flex: 1 1 65%;
    position: relative;
    display: flex;
    padding: 1.75rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.25rem;
    background-color: var(--form-contain-color);
}

.logo-png {
    height: 100px;
    filter: invert(1);
    position: absolute;
    top: -100px;
}

.logo-title {
    position: relative;
    display: flex;
    font-family: desporm;
    letter-spacing: 0.55ch;
    font-size: 1.25rem;
    top: 30%;
    justify-content: center;
    align-items: center;
}

.ref  {
    margin-top: auto;
    font-size: var(--ref-font-size);
    padding: 0.55rem 0rem;
}

.ref > a {
    color: var(--input-label-color);
}

.form-wrapper {
    background-color: var(--form-bg-color);
    padding: 1rem 1.75rem 2.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-evenly;
    border-radius: 5px;
}

.form-wrapper > div {
    display: flex;
    justify-content: flex-start;
    gap: 3.75rem;
}

.form-wrapper > div > div {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    position: relative;
}

input {
    width: 100%;
}

.input-wrapper {
    padding: 3px;
    background-color: #ffffff;
    border-radius: 5px;
}

.input-wrapper-invalid {
    padding: 3px;
    background-color: red;
    border-radius: 5px;
}

.input-wrapper:focus-within {
    padding: 3px;
    background-image: var(--input-bg-color);
    border-radius: 5px;
    animation-name: moving-rainbow-input;
    animation-iteration-count: infinite;
    animation-duration: 6.66s;
    animation-timing-function: ease;
    animation-direction: alternate;
}

@keyframes moving-rainbow-logo {
    from {background-color: rgba(255, 0, 0, var(--transparency3));}
    /* 16.67% {background-color: rgba(255, 166, 0, var(--transparency3));}
    33.33% {background-color: rgba(255, 255, 0, var(--transparency3));} */
    50% {background-color: rgba(0, 128, 0, 0.47, var(--transparency3));}
    /* 66.67% {background-color: rgba(173, 216, 230, var(--transparency3));}
    83.34% {background-color: rgba(0, 0, 255, var(--transparency3));} */
    to {background-color:  rgba(128, 0, 128, var(--transparency3));}
}

@keyframes moving-rainbow-input {
    0% {background-color: rgba(255, 0, 0, var(--transparency4));}
    16.67% {background-color: rgba(255, 166, 0, var(--transparency4));}
    33.33% {background-color: rgba(255, 255, 0, var(--transparency4));}
    50% {background-color: rgba(0, 128, 0, 0.47, var(--transparency4));}
    66.67% {background-color: rgba(173, 216, 230, var(--transparency4));}
    83.34% {background-color: rgba(0, 0, 255, var(--transparency4));}
    100% {background-color:  rgba(128, 0, 128, var(--transparency4));}
}

input {
    border: none;
    border-radius: 3px;
    height: 1.5rem;
    padding: 1px;
}

input:focus {
    outline: none;
}

label {
    font-size: 0.75rem;
    letter-spacing: 0.125rem;

}

.error {
    font-size: 0.65rem;
    color: red;
    margin-bottom: -1rem;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.slogan {
    font-family: desporm;
    font-size: var(--slogan-font-size);
    letter-spacing: 3px;
    margin-top: 2rem;
}

.red {
    text-shadow: 0px 0px 10px red;
}
.orange {
    text-shadow: 0px 0px 10px orange;
}
.yellow {
    text-shadow: 0px 0px 10px yellow;
}
.green {
    text-shadow: 0px 0px 10px green;
}
.cyan {
    text-shadow: 0px 0px 10px cyan;
}
.blue {
    text-shadow: 0px 0px 10px blue;
}
.purple {
    text-shadow: 0px 0px 10px purple;
}

.start-lifting {
    font-size: 2rem;
    letter-spacing: 3px;
    font-family: desporm;
}

.button-and-login {
    margin-left: 1.75rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 4rem;
}

button[type="submit"] {
    height: 1.75rem;
    width: 9rem;
    border: none;
    border-radius: 3px;
    background-color: var(--form-bg-color);
    color: var(--input-label-color);
}

button[type="submit"]:active {
    height: 1.75rem;
    width: 9rem;
    border: none;
    border-radius: 3px;
    background-color: var(--input-label-color);
    color: var(--form-bg-color);
}

.button-wrapper {
    background: var(--border-color);
    padding: 3px;
    height: 2.15rem;
    border-radius: 3px;
}

.button-wrapper:hover {
    background: var(--input-bg-color);
    padding: 3px;
    border-radius: 3px;
    animation-name: moving-rainbow-input;
    animation-iteration-count: infinite;
    animation-duration: 6.66s;
    animation-timing-function: ease;
    animation-direction: alternate;
}

.button-and-login > p {
    align-self: center;
}

.social-media {
    display: flex;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    gap: 1rem;
    filter: invert(1);
}

img[alt$="-icon"] {
    width: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-and-login > p {
    font-size: calc(1.125vw + 0.35rem);
}

.button-and-login > p > span > a {
    background: var(--login-bg-color);
    background-clip: text;
    color: transparent;
    font-size: calc(1.25vw + 0.35rem);
    font-weight: bolder;
}


@media screen and (max-width: 1125px) {
    body {
        background-color: var(--bg-color);
        color: var(--input-label-color);
        padding: 0px;
        height: auto;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-bg {
        display:none;
    }
}

@media screen and (max-width: 800px) {
    body {
        background-color: var(--bg-color);
        padding: 0px;
        height: auto;
        color: var(--input-label-color);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-bg {
        display:none;
    }

    .form-wrapper > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .form-wrapper > div > div {
        display: flex;
        gap: 0.2rem;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 1 auto;
        position: relative;
    }
    
}

img[alt$="-icon"]:hover {
    filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));
    animation-name: onhover;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes onhover {
    from {filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));}
    to {filter: drop-shadow(0px 0px 10px rgb(0, 0, 0));}
}